h1 {
    color: deeppink;
}

.row {
    display: flex;
    flex-direction: row;
}
.block {
    border: 1px solid #ccc;
    padding: 3px;
    width: 30px;
    height: 30px;
}

.clicked {
    background-color: rgb(138, 138, 138);
    color: white;
    font-weight: 600;
}

.marked {
    background: url("https://funfasr656.weebly.com/uploads/1/2/5/4/125434180/741491052.png") center / cover;
    
}